<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href=".src/stylesheets/output.css" rel="stylesheet">
</head>
<body>
  <h1 class="">Message Board</h1>
  <div class="">Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat</div>
</body>
</html>
